/* Container styles */
.container-city-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  /* Card styles */
  .card-city-list {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
  }
  
  /* Image styles */
  .card-city-list img {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  /* Title styles */
  .card-city-list h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }